<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODAS LAS NOTICIASS</title>
</head>
<body>
    <h1>TODAS LAS NOTICIAS PAGINA</h1>

    <form method="GET">
        <input type="text" name="categoria" placeholder="Buscar categoria..." value = "{{categoria_seleccionada}}">
        <button type="submit">Buscar noticias</button>

    </form>

    <p>
        <a href="?categoria=politica">Política</a>
        <a href="?categoria=espectaculos">Espectáculos</a>
    </p>


    {% for noticia in noticias %}
    
        <h3>{{noticia.titulo}}</h3>
        <h5>{{noticia.subtitulo}}</h5>
        <p>{{noticia.contenido}}</p>
        <p>Categorias: {{ noticia.categoria.all|join:', ' }}</p> <!-- Esto es para concatenar, esto me muestra el array de categorias  -->
        
    {% endfor %}
</body>
</html>